{% extends 'base.html.twig' %}

{% block title %}{{formation.name}}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{formation.name}}</h1>
        <hr>
        {{formation.content|raw}}

    </div>
{% endblock %}
